.header {
  background-color: gray;
  // position: absolute;
}
.hader-nav {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  font-family: Playfair Display SC;
  @include font(48px, 700, 1.33);
  color: #ffffff;
}
.menu-container {
  display: flex;
}
.hader-nav__list {
  display: flex;
}
.hader-nav__item {
  margin-right: 38px;
  display: flex;
  align-items: center;
}

.hader-nav__link {
  position: relative;
  font-family: Patua One;
  @include font(24px, 400, 1.21);
  color: #ffffff;
  &:hover,
  &:focus {
    opacity: 0.7;
    color: #ffffff;
  }
  &::before {
    display: block;
    position: absolute;
    width: 2px;
    background-color: #fff;
    content: "";
    transform: rotate(90deg);
    top: calc(100% / 3);
    left: 50%;
    opacity: 0;
    transition: width 0.3s ease-out;
  }
  &:hover::before,
  &:focus::before {
    // transform: translate(18px, 0) rotate(45deg);
    height: 150%;
    opacity: 0.7;
  }
}

.header-social__list {
  margin-top: calc(50% / 4);
  display: flex;
}
.hader-social__item {
  &:last-child {
    margin-right: 17px;
  }
}
.hader-social__link {
  margin-right: 38px;
}
.header-svg {
  background: #000;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.header-svg__img {
  color: #ffffff;
  &:hover,
  &:focus {
    fill: #ffffff;
  }
}
