.hero-section {
  background-image: url(../src/img/HERO/hero-img_@2x.jpg) 0 0 no-repeat;
  width: 100%;
  height: 400px;

  padding: 353px 0 253px 0;
}
.hero-dg {
  width: 100%;
}
.hero-menu__list {
  display: flex;
  justify-content: center;
}
.hero-menu__item {
  margin-right: 119px;
  &:last-child {
    margin-right: 0;
  }
}
.hero-menu__link {
  font-family: Oranienbaum;
  @include font(144px, 400, 1.53);
  text-decoration-line: underline;

  //   color: #ffffff;
}
