<header class="header">
    <div class="hader-nav container">
        <div class="hader-logo__box">
            <a href="" class="header-logo link">BARATIE</a>
        </div>
        <div class="menu-container">
            <ul class="hader-nav__list list">
                <li class="hader-nav__item">
                    <a href="#" class="hader-nav__link link-active link">HOME</a>
                </li>
                <li class="hader-nav__item">
                    <a href="#" class="hader-nav__link link-active link">MENU</a>
                </li>
                <li class="hader-nav__item">
                    <a href="#" class="hader-nav__link link-active link">GALLARY</a>
                </li>
                <li class="hader-nav__item">
                    <a href="#" class="hader-nav__link link-active link">VISIT</a>
                </li>
            </ul>
            <div>
                <ul class="header-social__list list">
                    <li class="hader-social__item">
                        <a href="#" class="hader-social__link link">
                            <svg class="header-svg">
                                <use class="header-svg__img" href="/src/svgicons/Vector.svg"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="hader-social__item">
                        <a href="#" class="hader-social__link link">
                            <svg class="header-svg">
                                <use class="social-svg__img" href="/src/svgicons/Vector.svg"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>