<header class="header">
    <div class="container">
        <nav class="hader-nav">
            <div class="hader-logo__box">
                <a href="" class="header-logo link">baratie</a>
            </div>
            <div class="menu-container">
                <ul class="hader-nav__list list">
                    <li class="hader-nav__item">
                        <a href="#" class="hader-nav__link link">HOME</a>
                    </li>
                    <li class="hader-nav__item">
                        <a href="#" class="hader-nav__link link">MENU</a>
                    </li>
                    <li class="hader-nav__item">
                        <a href="#" class="hader-nav__link link">GALLARY</a>
                    </li>
                    <li class="hader-nav__item">
                        <a href="#" class="hader-nav__link link">VISIT</a>
                    </li>
                    <li class="hader-nav__item">
                        <a href="#" class="hader-nav__link link">
                            <svg class="svg">
                                <use class="svg-img" href="/src/svgicons/Vector.svg"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="hader-nav__item">
                        <a href="#" class="hader-nav__link link">
                            <svg class="svg">
                                <use class="svg-img" href="/src/svgicons/Vector.svg"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>