<main>
    <div class="hero-section">
        <!-- <img class="hero-dg" src="@img/HERO/hero-img_@2x.jpg" alt=""> -->
        <ul class="hero-menu__list">
            <li class="hero-menu__item">
                <a href="" class="hero-menu__link">EAT</a>
            </li>
            <li class="hero-menu__item">
                <a href="" class="hero-menu__link">DRINK</a>
            </li>
            <li class="hero-menu__item">
                <a href="" class="hero-menu__link">VISIT</a>
            </li>
        </ul>
    </div>


    <!-- ===== STORY SECTION ==== -->
    <div class="story">
        <h1 class="story-title">
            Time, dedication, and darn good eats.
        </h1>
        <p class="story-subtitle">
            If breakfast is the most important meal of the day, then brunch is the most important
            meal of the week. We treat it with the pomp and ceremony it deserves, using farm-
            fresh ingredients to craft food you’ll spend the next six days dreaming about.
        </p>
        <a href="#" class="story-btn">
            OUR STORY
        </a>
    </div>

    <!-- ===main galary === -->
    <section class="main-galary">
        <ul class="main-galary__list">
            <li class="main-galary__item">
                <img class="main-galary__img" src="@img/MAIN-GALLARY/1_@2x.jpg" alt="jhsdfgks">
            </li>
            <li class="main-galary__item">
                <img class="main-galary__img" src="@img/MAIN-GALLARY/2_@2x.jpg" alt="fdkgjdfklj">
            </li>
            <li class="main-galary__item">
                <img class="main-galary__img" src="@img/MAIN-GALLARY/3_@2x.jpg" alt="dfkjg;dklf">
            </li>
            <li class="main-galary__item">
                <img class="main-galary__img" src="@img/MAIN-GALLARY/4_@2x.jpg" alt="kjfhdjhg">
            </li>
            <li class="main-galary__item">
                <img class="main-galary__img" src="@img/MAIN-GALLARY/5_@2x.jpg" alt="klsdjfksj">
            </li>
            <li class="main-galary__item">
                <img class="main-galary__img" src="@img/MAIN-GALLARY/6_@2x.jpg" alt="sldfjklsdjf">
            </li>
            <li class="main-galary__item">
                <img class="main-galary__img" src="@img/MAIN-GALLARY/7_@2x.jpg" alt="jdghsdkhf">
            </li>
            <li class="main-galary__item">
                <img class="main-galary__img" src="@img/MAIN-GALLARY/8_@2x.jpg" alt="kjhgdfhg">
            </li>
            <li class="main-galary__item">
                <img class="main-galary__img" src="@img/MAIN-GALLARY/9_@2x.jpg" alt="ytyuy">
            </li>
        </ul>
    </section>

</main>